# Ref: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
/.github/       @ajs2019 @alex391 @CodeNate02 @joeschmolo @KPL011 @Raghav2178 @Rayz312
